body {
  font-family: "segoe ui";
}

h1 {
  text-align: center;
}

img{
	height: 100px;
	width: 100px;
}

*{margin: 0; padding: 0;} 

nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
}

a.nav-link {
    font-family: segoe ui;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 100px;
}

.navbar-light .navbar-nav .nav-link{
	color: white;
	font-size: 15px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: green;
	font-size: 15px;
}

.navbar-light .navbar-nav .nav-link:focus{
	color: green;
	font-size: 15px;
}

@media (max-width: 576px){
	a.navbar-brand{
		display: block;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	a.nav-link{
		line-height: 27px;
		display: inline!important;
	}
	li.nav-item{
		display: inline!important;
		margin: 0 0;
	}
	ul.nav.navbar-nav.float-xs-right{
		text-align: center;
		background: black;
		padding: 0px;
		margin: 0px;
		width: 100%;
		padding: 10px 20px;
	}
	li.nav-item{
		float:none!important;
		display: inline;
	}
	h2.tieudecap2.text-sm-left.text-xs-center {
    	margin-top: 50px;
	}
}

@media (max-width: 576px){
	.tt img{
		width: 200px;
		margin-top: 100px;

	}
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}

nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: #111111;
}

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    width: 100%;
}

.blocktt1{
	height: 100%;
	width: 100%;
	background: #0ccaaf;
}

.blocktt1:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #0ccfaf;
    z-index: 1;
}

body, html{
	width: 100%;
	height: 100%;
}

.tt{
	z-index: 2;
	position: relative;
	padding-top: 200px;
}

.tt img{
	border-radius: 50%;
	margin-bottom: 50px;
	width: 15%;
	height: 15%;
}

.tt h2{
	font-size: 35px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 22px;
}

.tt p{
	color: black;
	font-size: 14px;
	line-height: 24px;
	width: 50%;
	margin: auto;
	margin-bottom: 34px;
}

a.nuthire.btn.btn-primary{
	width: 180px;
	background: black;
	border: none;
	border-radius: 0px;
}

.img-fluid{
	width: 100%;
	height: 100%
}

.tieudeto{
	margin-top: 120px;
	margin-bottom: 60px;
}

.tieudeto h1{
	display: inline;;
	text-transform: uppercase;
	font-size: 30px;
}

h2.tieudecap2{
	font-weight: normal;;
	font-family: segoe ui light;
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 40px;
}

span.tieumuc1{
	font-weight: bold;
	font-family: segoe ui;
}

.blocktt1 h3.tieudecap3{
	font-size: 16px;
	color: black;
	margin-bottom: 20px;
}

span.motaqt{
	font-size: 14px;
	margin-bottom: 26px;
	display: block;
}

.blockttnho p{
	font-size: 13px;
	line-height: 21px;
	color: #636363;
}

.blockttnho{
	margin-bottom: 55px;
}

.btn2page{
	width: 40px;
	height: 70px;
	border: white solid 1px;
	position: absolute;
	left: 50%;
	border-radius: 30px;
	bottom: 2%;
	margin-left: -20px;
	z-index: 2;
	cursor: pointer;
	transition: 0.4s;
}

.btn2page:hover{
	bottom: 4%;
}

.btn2page:after{
	content: "";
	position: absolute;
	width: 3px;
	height: 8px;
	background: white;
	left: 50%;
	bottom: 67%;
	margin-left: -2px;
}